HACKATHON_DATA_BUNDLE=/Users/hjoshi/Downloads/hackathon_data_bundle
OPENAI_API_KEY=
OPENAI_TRANSCRIPTION_MODEL=gpt-4o-mini-transcribe
ANTHROPIC_API_KEY=
ELEVENLABS_API_KEY=
USE_MOCK_TRANSCRIPTION=true
USE_MOCK_LLM=true
USE_MOCK_VOICE=true
